<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906585886866-09ffg0n2o8m5id4ploi1geftpmseepf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906585886866-09ffg0n2o8m5id4ploi1geftpmseepf9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>906585886866-f1h6pd56ebtbtk7rsc56e1sm8oih00og.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBApZTKohVY12ei4FiARf0qPku7PiIHNGk</string>
	<key>GCM_SENDER_ID</key>
	<string>906585886866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>grih-sajja</string>
	<key>STORAGE_BUCKET</key>
	<string>grih-sajja.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906585886866:ios:cbb74cad4ab551ac5e964b</string>
</dict>
</plist>